.logo {
    max-width: 100%;
    background-color: $secondary-color;
    @include border-radius(55%);
    border-color: $secondary-color;
  }
  
  .logo-box {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1em;
  }
  
  .menu {
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
    padding: 7px;
  }
  
  .menu-item {
    padding: 10px;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .img-item {
    position: inline;
    width: 30%;
  }
  
  .contenedor2 {
    @include box-shadow(0, 0, 20px, 1px, $box-shadow-color);
    max-width: 100%;
    margin: 2em auto;
    padding: 5px;
    padding-bottom: 110px;
    text-align: center;
  }
  
  .nosotros-1, .nosotros-2, .nosotros-3 {
    width: $container-width;
    height: $nosotros-height;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nosotros-1 {
    background-image: url('../img/tama2.jpg');
  }
  
  .nosotros-2 {
    background-image: url('../img/tama 6.jpg');
  }
  
  .nosotros-3 {
    background-image: url('../img/tama 1.jpg');
  }
  