form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: $form-background-color;
    @include border-radius(8px);
    @include box-shadow(0, 4px, 8px, 0, $form-shadow-color);
  }
  
  .form-label {
    font-weight: bold;
    color: $primary-color;
  }
  
  .form-control {
    border: 2px solid $form-border-color;
    @include border-radius(4px);
    padding: 10px;
  }
  
  .btn-primary {
    background-color: $button-bg-color;
    border-color: $button-border-color;
    padding: 10px 20px;
    font-size: 1.2em;
    @include border-radius(40px);
    
    &:hover {
      background-color: $button-bg-color-hover;
      border-color: $button-border-color-hover;
      transform: scale(1.05);
    }
  }
  