$background-color-body-default: darksalmon;
$background-color-body-small: rgb(43, 154, 182);
$background-color-body-smaller: rgb(136, 177, 187);
$primary-color: rgb(167, 78, 14);
$secondary-color: rgb(205, 110, 27);
$button-bg-color: rosybrown;
$button-border-color: $primary-color;
$button-bg-color-hover: #d49c2c;
$button-border-color-hover: #dd9450;
$form-background-color: #f8f9fa;
$form-border-color: #ced4da;
$form-shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow-color: rosybrown;
$container-width: 80%;
$nosotros-height: 300px;
